apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-application
spec:
  destination:
    namespace: dev
    server: 'https://kubernetes.default.svc'
  source:
    path: dev
    repoURL: 'https://github.com/fullife32/eassouli-argocd.git'
    targetRevision: HEAD
    directory:
      recurse: true
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
